<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Skeleton</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
    <!--<link rel="stylesheet" type="text/css" href="main.css">-->

</head>
<body>
    <h1>Blog Skeleton</h1>
    <p>
        This is just a skeleton to use when producing a blog style CMS for my future projects.
    </p>
    <p>
        This is a different branch.
    </p>
    <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/39010660_10160832610645523_6539831806949064704_n.jpg?_nc_cat=0&oh=68d120e5e3a71275da3ec38b001ee0c2&oe=5C359468">
    <img src="/assets/images/milkMan.jpg">
</body>
</html>