<div id="login-form">

    <form id="sign-up" method="POST">

        <input placeholder="name" type="text" name="name" id="name">
        <input placeholder="email" type="text" name="email" id="email">
        <input placeholder="confirm email" type="text" name="email-confirm" id="email-confirm">
        <input placeholder="password" type="password" name="password" id="password">
        <input placeholder="confirm password" type="password" name="password-confirm" id="password-confirm">

        <div id="sign-up-button">Sign-up</div>

        <p>Have an account? <a href="/login">Login</a></p>

    </form>

    {{#if errors}}
    <p>ERRORS------</p>
    <p>{{errors}}</p>
    <p>------------</p>
    {{/if}}

</div>

<script>

    document.getElementById("sign-up-button").onclick = function() {
        document.getElementById('sign-up').submit();
    };

    document.onkeypress = (e) => {
        if(e.keyCode == 13) {
            document.getElementById('sign-up').submit();
        }
    };

    function validateInput(fields) {
        var validationConfig = {
            first_name: {
                required: true,
                length: 2
            },
            last_name: {
                required: true,
                length: 2
            },
            email: {
                required: true
            },
            email_confirm: {
                required: true,
                compare: "email"
            },
            password: {
                required: true,
                length: 8,
            },
            password_confirm: {
                required: true,
                length: 8,
                compare: "password"
            }

        };

        var value;
        for (var i = 0; i < fields.length; i++) {
            value = document.getElementById(fields[i].element_id).value;
            if (fields[i].test_key === "email") {

            } else if (fields[i].test_key === "email_confirm") {

            } else if (fields[i].test_key === "password") {

            } else if (fields[i].test_key === "password_confirm") {

            } else if (fields[i].test_key === "first_name") {

            } else if (fields[i].test_key === "last_name") {

            } else {
                console.log("Missing Validation fucntion")
            }

        }
    }



</script>